<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Burger Noms</title>
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/materialize/css/materialize.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" />
    <script src="/assets/materialize/js/materialize.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgerJS.js"></script>
</head>

<body>

    {{{ body }}}

    <script type="text/javascript">

    </script>

</body>

</html>