body, html {
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    list-style: none;
    background-color: white;
    color: white;
    text-shadow: -1px 0 #485460, 0 1px #485460, 1px 0 #485460, 0 -1px #485460;
}

/* .everything-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#enter-container {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #d2dae2;
    opacity: 1;
    transition: 1s ease;
}

#index-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: white;
} */

/* .enter-text {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
} */

/* .enter-img {
    background: url("../img/burgerMan.png") no-repeat center;
    background-size: cover;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.container {
    height: 100%;
}

input[type="text"] {
    text-align: center;
    color: white;
}

li {
    margin: 25px;
}

.change-devoured {
    margin-left: 25px;
}

.title-row {
    background-color: white;
    background: url("../img/burgerIcon.png") no-repeat center;
    background-size: cover;
    height: 150px;
    position: relative;
}

.title-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.burger-row {
    margin-bottom: 0;
}

.burger-row, .form-row {
    background-color: #ffa801;
}

.btn {
    background-color: #05c46b;
}

.btn:hover {
    background-color: #f53b57;
}