<li>
    {{id}}. {{name}}

    {{#if devoured}}

        <button class="change-devoured waves-effect waves-light btn" data-id="{{id}}" data-newdevoured="{{devoured}}">
            DEVOUR ME
        </button>

    {{/if}}

</li>